registry=https://registry.npmjs.org/
@monsantoit:registry=https://artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/
//artifactory.bayer.com/artifactory/api/npm/npm-platforms-engineering/:_auth="a2F5emEubm92YWlzcm9zYS5leHRAYmF5ZXIuY29tOkFLQ3A4bVllNjNNS1I3eDlOdTdtaTlCaVJzV0F5V3g5YU11Yk05Q0NlVWNMdjlwUVdrNjVhdEpKNWFqdXFZdDhKY1BXR1lnR2M="
always-auth=true